<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Agregar
        <br />
        <h:form>
            <p:messages />
            <p:panelGrid columns="2">
            <h:outputText value="Identificacion" />
            <h:inputText value="#{clientViewManager.cliente.id}"/>
            
             <h:outputText value="Nombre Completo" />
             <h:inputText value="#{clientViewManager.cliente.fullnmae}"/>
            
             </p:panelGrid>
            <p:commandButton action="#{clientViewManager.addNewClient()}" value="Guardar" />
        </h:form>
        
    </h:body>
</html>

        